/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.user{
	text-align: center;
}
.midasi{
	text-align: center;
}
.bun{
	text-align: center;
}
.sinki{
	text-align: center;
}
.header{
	background-color: black;
	height: 50px;
}
.col-lg-3{
	list-style-type: none;
	padding: 15px;
	color: white;
}
.col-lg-2{
	list-style-type: none;
	padding: 15px;
	color: white;
}
.booker{
	font-size: 20px;
	padding: 10px;
	color: white;
}
a:not(.btn), a:link:not(.btn) {
  color: #666666;
}
a:visited:not(.btn) {
  color: #666666;
}
@import "bootstrap-sprockets";
@import "bootstrap";